        h2 {
            color: rgb(0, 35, 230);
        }  
        #parrafo-azul {
            background-color: red;
        }
        
        #parrafo-gris {
            background-color: grey;
        }
        .fuente-arial {
            font-family: "Arial", "Palatino", serif;
            font-size: 30px;
        }
